/* Write your CSS here */
.money-details {
  display: flex;
  background-color: transparent;
  height: 15vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item1 {
  background-color: #ecfccb;
  border: solid black 1px;
  border-radius: 10px;
  width: 14vh;
  margin: 5px;
}
.item2 {
  background-color: #cffafe;
  border: solid black 1px;
  border-radius: 10px;
  width: 14vh;
  margin: 5px;
}
.item3 {
  background-color: #ede9fe;
  border: solid black 1px;
  border-radius: 10px;
  width: 14vh;
  margin: 5px;
}
.small-image {
  height: 25px;
  width: 25px;
}
.balance {
  font-size: 20px;
  font-family: 'Roboto';
  color: #334155;
}
.rupees {
  font-size: 26px;
  color: #000000;
  font-family: 'Roboto';
}
